/* ----------------Fonts -------------*/
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piedra&family=Pirata+One&display=swap');


/* ----------------Special Classes -------------*/
a {
    text-decoration: none !important;
}

.inline-block{
    display: inline-block;
}

li {
    list-style-type: none;
}

.box {
    background-color: #FF7040;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 3px 4px 5px rgba(0,0,0,0.5);
}

.bg-page{
    background-color: #A1E4F9;
}

.sections {
    padding: 20px;
}
/* ----------------Heading -------------*/
.bg-color-navbar {
    background-color: #0094E8;
}
.navbar {
    box-shadow: 3px 4px 5px rgba(0,0,0,0.5);
}
.navbar-brand {
    font-family: 'Pirata One', sans-serif;
    font-size: 65px;
    margin-right: 20px;
    padding: 0px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}

.navbar-brand:hover{
    color: grey;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-family: 'Piedra', sans-serif;
    font-size: 35px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}

.nav-link:hover {
    color:grey
}

.nav-search {
    background-color: #8DC8EA;
    width: 300px;
    height: 47px;
    border: none;
    border-radius: 5px;
   
}

.nav-search:hover {
    background-color: #70A0BB;
}

#search-btn {
    background-color: #0094E8;
    height: 47px;
    border: none;
    padding: 5px;
    align-items: center;
    border-radius: 5px;
}

#search-btn:hover {
    background-color: #70A0BB;
}

/* ----------------Footer -------------*/
.bg-color-footer {
    background-color: #0094E8;
}

.social-links {
    color: white;
    font-family: 'Piedra', sans-serif;
    font-size: 35px;
    padding: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}

.social-links:hover{
    color: grey;
}

/* ----------------Home Page Content -------------*/
.box img {
    width: 100%;
}

img {
    border-radius: 5px;
    box-shadow: 3px 4px 5px rgba(0,0,0,0.5);
}
